.scrollbar-hidden::-webkit-scrollbar{
    display: none;
}
::-webkit-scrollbar{
    width: 8px;
    transition: all ease-in .3s;
}
::-webkit-scrollbar-track{
    background: #c0c0c0c5;
}
::-webkit-scrollbar-thumb{
    background: #07143fc9;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover{
    background: #07143F;
}
.modal{
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #07143F;
    padding: 2rem;
    color: aliceblue;
    border-radius: 4px;
    max-width: 50%;
}
.overlay{
    transition: all 0.5s ease-in-out;
    position: fixed;
    top: 0;right: 0;left: 0;bottom: 0;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
