swiper-container {
    width: 100%;
    height: 24rem;
}

swiper-slide {
    width: 50%;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary: #6a59ff;
    --white: #ffffff;
    --bg: #f5f5f5;
}

.slider-controler {
    position: relative;
    bottom: -2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-controler .swiper-button-next {
    left: 62% !important;
    transform: translateX(-58%) !important;
}
.slider-controler .swiper-button-prev {
    left: 38% !important;
    transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
    .slider-controler .swiper-button-next {
        left: 70% !important;
        transform: translateX(-70%) !important;
    }
}

@media (max-width: 450px) {
    .slider-controler .swiper-button-next {
        left: 80% !important;
        transform: translateX(-80%) !important;
    }
}

@media (max-width: 990px) {
    .slider-controler .swiper-button-prev {
        left: 30% !important;
        transform: translateX(-30%) !important;
    }
}

@media (max-width: 450px) {
    .slider-controler .swiper-button-prev {
        left: 20% !important;
        transform: translateX(-20%) !important;
    }
}

.slider-controler .slider-arrow {
    background: var(--white);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    padding: 0.5rem;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow::after {
    content: '';
}

.swiper-pagination {
    position: relative !important;
    width: 10rem !important;
    bottom: 0 !important;
}

.swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
    background: var(--primary);
}
.swiper-slide-active .visible_desc{
    bottom: 0;
    transition: all ease-in .5s;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 2rem;
    border-radius: 4px;
    width: 80%;
    max-width: 400px;
}
.overlay {
    position: fixed;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 100;
}