html {
    scroll-behavior: smooth;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 0.8rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.2rem;
    background: #797979;
    transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #222224;
}

::-webkit-scrollbar-track {
    background: #d3cfcf;
}

:root {
    --primary: #6a59ff;
    --white: #ffffff;
    --bg: #f5f5f5;
}

.swiper_container {
    height: 24rem;
}

/* .swiper-slide {
    height: 35rem !important;
    margin: auto !important;
} */

.swiper-button-prev {
    left: 1rem !important;
}

.swiper-button-next {
    right: 1rem !important;
}

@media (min-width: 425px) {
    .swiper-button-prev {
        left: 8rem !important;
    }

    .swiper-button-next {
        right: 8rem !important;
    }
}

@media (min-width: 768px) {
    .swiper_container {
        height: 30rem;
    }

    .swiper-button-prev {
        left: 24rem !important;
    }

    .swiper-button-next {
        right: 24rem !important;
    }
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

.slider-controler {
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
}

.slider-controler .slider-arrow {
    background: var(--white);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 0.5rem;
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-controler .slider-arrow::after {
    content: '';
}



.swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
    background: var(--primary);
}

.modal {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 2rem;
    border-radius: 4px;
    max-width: 50%;
}

.overlay {
    transition: all 0.5s ease-in-out;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}