@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
   width: 100vw;
   min-height: 100vh;
   position: fixed;
   display: flex;
   justify-content: center;
   padding: 120px 24px 160px 24px;
   pointer-events: none;
}

.main:before {
   background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
   position: absolute;
   content: "";
   z-index: 2;
   width: 100%;
   height: 100%;
   top: 0;
}

.main:after {
   content: "";
   background-image: url("/grid.svg");
   z-index: 1;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   opacity: 0.4;
   filter: invert(1);
}

.gradient {
   height: fit-content;
   z-index: 3;
   width: 100%;
   max-width: 640px;
   background-image:
      radial-gradient(at 27% 37%, hsla(215, 98%, 61%, 1) 0px, transparent 0%),
      radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
      radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
      radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
      radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
      radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
      radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
   position: absolute;
   content: "";
   width: 100%;
   height: 100%;
   filter: blur(50px) saturate(50%);
   top: 80px;
   opacity: 0.15;
}

@media screen and (max-width: 640px) {
   .main {
      padding: 0;
   }
}
.absolute_center {
   position: absolute;
   top: 60%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.text-shadow {
   text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
}

.head_text {
   @apply text-xl font-extrabold leading-[1.15] text-gray-700 sm:text-4xl;
}
.text{
   @apply text-base lg:text-lg text-gray-600 sm:text-xl
}
.text_white{
   @apply text-base lg:text-lg text-white sm:text-xl
}
.desc {
   @apply text-base lg:text-lg text-gray-600 sm:text-xl max-w-2xl;
}
.button_primary{
   @apply bg-[#FAB440] hover:bg-[#F8B966] focus:bg-[#F7C38A] active:bg-[#F6CD9D] disabled:bg-gray-400 font-bold text-white text-center text-base flex items-center gap-2 justify-center py-2 px-4 rounded-lg shadow-md focus:outline-none transition-all;
}
.label {
   @apply block text-gray-700 text-sm font-bold mb-2;
}
.input {
   @apply shadow appearance-none border border-[#FAB440] rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none placeholder:italic;
}
.input_table {
   @apply shadow appearance-none border border-[#FAB440] rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none;
}
.input_search {
   @apply shadow appearance-none border focus:border-[#4E47C6] rounded-full py-2 px-3 text-gray-700 leading-tight focus:outline-none w-10 focus:w-fit transition-all pointer-events-auto placeholder:italic placeholder:opacity-0 focus:placeholder:opacity-100
}
.btn_primary {
   @apply rounded-lg border border-[#FAB440] bg-[#FAB440] py-1.5 px-4 sm:px-5 text-white transition-all hover:bg-white hover:text-[#FAB440] text-center text-base flex items-center justify-center font-semibold;
}
.outline_btn {
   @apply rounded-full border border-[#FAB440] bg-transparent py-1.5 px-5 text-[#FAB440] transition-all hover:bg-[#FAB440] hover:text-black text-center text-sm font-semibold flex items-center justify-center;
}
.flex_between {
   @apply flex items-center justify-between;
}

.active {
   @apply text-[#4E47C6] rounded-lg;
}

.gradient-text {
   @apply bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 text-transparent bg-clip-text;
}

.step {
   @apply absolute flex justify-center items-center top-4 left-4 p-2 w-14 h-14 rounded-full bg-[#FAB440] text-white shadow-xl text-3xl font-extrabold;
}
.step_desc{
   @apply absolute w-full h-1/3 bg-[#07143F] text-white p-4 shadow-inner transition-all rounded-t-xl;
}
